*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

.contact_header{
   margin-top: 30px;
    text-align: center;
}

.contact_logo{
    width: 150px;
    height: 80px;
}


.contact-box{
	display: flex;
	justify-content: center;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
}

.left{
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
    width: 60%;
	height: 80%;
	border-radius: 30px;
	margin: auto;
}

.right{
	padding: 25px 40px;
	width: 500px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.text{
	font-family: sans-serif;
	font-weight: 700;
	font-size: 24px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: #f2f2f2;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
    border-radius: 30px;
}

textarea{
	min-height: 150px;
}

.btn{
	width: 45%;
	padding: 1rem 1rem;
	background-color: #00001a !important;
	color: #fff !important;
	font-size: 15px;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
    border-radius: 30px !important;
}

.btn:hover{
	background-color: red;
}


@media screen and (max-width: 1000px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 350px;
	}
	.right{
		width: 100%;
	}
}

@media screen and (max-width: 768px){
	.left{
		height: 280px;
	}
}
@media screen and (max-width: 500px){
	.left{
		height: 200px;
	}
}